.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: 900;
    z-index: 3;
    background-color: white;
}

.navigation ul {
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style: none;
    display: inline-block;
    height: 6em !important;
    margin-left: 15%;
}

.navigation ul li {
    float: left;
    width: auto;
    margin-right: 3em;
    position: relative;
}

.navigation ul li:last-child {
    margin: 0;
}

.navigation ul li a {
    float: left;
    width: 100%;
    color: #333;
    padding: 16px 0;
    line-height: normal;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    font-size: 110%;
}

.navigation .children {
    position: absolute;
    top: 100%;
    z-index: 1000;
    margin: 0;
    padding: 0;
    left: 0;
    min-width: 240px;
    background-color: #fff;
    border: solid 1px #dbdbdb;
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.navigation ul li .children {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-75deg);
    transform: rotateX(-75deg);
    visibility: hidden;
}

.navigation ul li:hover > .children {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
    visibility: visible;
}

.navigation ul li .children .children {
    left: 100%;
    top: 0;
}

.navigation ul li.last .children {
    right: 0;
    left: auto;
}

.navigation ul li.last .children .children {
    right: 100%;
    left: auto;
}

.navigation ul li .children li {
    float: left;
    width: 100%;
    margin: 0;
}

.navigation ul li .children a {
    display: block;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    color: #333;
    text-align: left;
    line-height: 1.5em;
    padding: 16px 30px;
    letter-spacing: normal;
    border-bottom: 1px solid #dbdbdb;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.navigation ul li .children a:hover {
    color: #fff;
    background-color: #e31937;
}

.navigation ul li a:hover {
    color: #e31937;
}

.language-buttons button {
    background-color: transparent;
    border: none;
    font-size: 90%;
    font-weight: 900;
    color: #e31937;
    cursor: pointer;
    margin-top: 5px;
}
.language-buttons button:hover {
    color: #a51228 !important;
}
.language-buttons button:focus {
    outline: none;
}

.language-button-active, a.active {
    color: #a51228 !important;
    outline: none;
}


p.dropdown-menu, button.dropdown-item {
    margin: 0 !important;
    top: 0;
    text-decoration-style: wavy;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    bottom: 0 !important;
    padding: 0 !important;
    border: none !important;
    text-align: center !important;
    border-radius: 8px;
    background: #d2cfcf66;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(68, 249, 126, 0.11);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.33);
    box-shadow: 3px 2px 0 rgba(0, 0, 0, 0.36);
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

#dropdownBasic3 {
    cursor: pointer;
}

.dropdown-item.active {
    color: #a51228 !important;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

button.dropdown-item {
    top: 0;
    right: 0;
    text-decoration-style: wavy;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 15px;
    border: none !important;
    text-align: center !important;
    border-radius: 8px;
    background: #d2cfcf66;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(68, 249, 126, 0.11);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.33);
    box-shadow: 3px 2px 0 rgba(0, 0, 0, 0.36);
    -webkit-animation: myfirst 2.5s 2; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation: myfirst 2.5s 2;
    animation-direction: alternate;
    margin-bottom: .25em !important;
    left: 0;
    z-index: -1;
    position: relative;
    outline: none;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst {
    0% {
        background: #d2cfcf66;
        left: 0px;
        top: 0px;
    }
    25% {
        background: #E7E6E6;
        right: 50px;
        top: 0px;
    }

}

@keyframes myfirst {
    0% {
        background: #d2cfcf66;
        left: 0px;
        top: 0px;
    }
    25% {
        background: #E7E6E6;
        right: 50px;
        top: 0px;
    }

}

.logoutBtn {
    color: black !important;
}

/*used for the div containing image logo*/
.logoResponsive {
    float: left;
    position: fixed;
    z-index: 4;
    height: 10rem;
    width: 15rem;
    padding: 0;
    top: 0;
}

/*used for image logo*/
.BorderLogo {
    width: 100%;
    height: auto;
    float: left;
}

button{
    line-height: 16px;
}

@media (max-width: 1450px){
    .logoResponsive {
        height: 6rem;
        width: 15em;
    }

    .BorderLogo {
        width: 60%;
    }
}

@media (max-width: 1300px){
    .navigation ul {
        height: 2em !important;
        position: relative;
    }

    .logoResponsive.d-flex{
        height: 6rem;
    }

    .logoResponsive {
        height: 6rem;
        width: 15em;
    }

}