<div class="errorHandler" *ngIf="isAnyError()">
    <output style="color: red">
        <div *ngFor="let errorMsg of errorsOccurred">
            <img src="assets/img/validationError.png" height="15"/> {{errorMsg}}
        </div>
    </output>
</div>
<table class="table table-responsive-sm">
    <tr>
        <td>{{ "Code" | translate }} {{ "Project" | translate }}</td>
        <td>{{ memberPosition.projectPositionDTO.projectDTO.projectCode }}</td>
    </tr>
    <tr>
        <td>{{ "Name" | translate }} {{ "Project" | translate }}</td>
        <td>{{memberPosition.projectPositionDTO.projectDTO.projectName}}
        </td>
    </tr>
    <tr>
        <td>{{ "Position" | translate }}</td>
        <td>{{ memberPosition.projectPositionDTO.positionDescription }}</td>
    </tr>
    <tr>
        <td>{{ "Percent" | translate }}</td>
        <td>
            <select id="percentageTextBox" name="percentageTextBox"
                    [(ngModel)]="memberPosition.percentId" #percentageTextBox="ngModel" class="form-control"
                    required minlength="1" [attr.disabled]="editMode ? null: ''">
                <option *ngFor="let percent of percentList" value={{percent.id}}>
                    {{percent.description}} %
                </option>
            </select>
        </td>
        <img class="image"
             *ngIf="memberPosition.percentId == null"
             [ngbTooltip]="errorMessagesConstants.PROJECT_POSITION_PERCENT"
             src="assets/img/validationError.png"
             height="20">
        <td>
            <div class="buttonsInline" *ngIf="isDeactivatedMembersTableInactive">
                <!--Open modal for confirmation on member deactivation-->
                <p *ngIf="!editMode" data-placement="top" data-toggle="tooltip"
                   title="{{ 'Delete' | translate }}">
                    <button class="button"
                            data-title="{{ 'Delete' | translate }}">
                        <fa [name]="'minus-square'" (click)="openModal(content)">
                            <ng-template #content let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title">{{ "AreYouSureDeleteMemberPosition" | translate }}</h4>
                                    <button id="closeButton" class="close" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body confirm-buttons">
                                    <button type="button" class="btn btn-light" id="buttonYES" (click)="delete()"
                                            (click)="modal.close('Close click')">{{ "YES" | translate }}
                                    </button>
                                    <button type="button" class="btn btn-light" id="buttonNO"
                                            (click)="modal.close('Close click')">{{ "NO" | translate }}
                                    </button>
                                </div>
                            </ng-template>
                        </fa>
                    </button>
                </p>
                <p *ngIf="!editMode" data-placement="top" data-toggle="tooltip"
                   title="{{ 'Edit position' | translate }}">
                    <button class="button"
                            data-title="{{ 'Edit' | translate }}"
                            (click)="editMode = !editMode;">
                        <img src="assets/img/edit.PNG" width="24" height="20">
                    </button>
                </p>
                <p *ngIf="editMode" data-placement="top" data-toggle="tooltip"
                   title="{{ 'Edit position' | translate }}">
                    <button class="btn"
                            data-title="{{ 'Save' | translate }}"
                            (click)="save(); editMode = !editMode;"> {{'Save' | translate}}
                    </button>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td>{{ "Start Date" | translate }}</td>
        <td>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="projectStartDate" id="projectStartDate"
                           ngbDatepicker #dstart="ngbDatepicker"
                           navigation="select" showWeekdays="true"
                           showWeekNumbers="true" outsideDays="visible"
                           [(ngModel)]="startDateModel"
                           [disabled]="editMode ? null : 'disabled'">
                    <div class="input-group-append">
                        <button *ngIf="isDeactivatedMembersTableInactive" class="btn btn-outline-secondary"
                                (click)="dstart.toggle()"
                                type="button">
                            <fa name="calendar"></fa>
                        </button>
                        <img class="image"
                             *ngIf="startDateModel == undefined"
                             [ngbTooltip]="errorMessagesConstants.PROJECT_POSITION_START_DATE"
                             src="assets/img/validationError.png"
                             height="20">
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>{{ "End Date" | translate }}</td>
        <td>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="projectEndDate" id="projectEndDate"
                           ngbDatepicker #dend="ngbDatepicker"
                           navigation="select" showWeekdays="true"
                           showWeekNumbers="true" outsideDays="visible"
                           [(ngModel)]="endDateModel"
                           [disabled]="editMode ? null : 'disabled'">
                    <div class="input-group-append">
                        <button *ngIf="isDeactivatedMembersTableInactive" class="btn btn-outline-secondary"
                                (click)="dend.toggle()"
                                type="button">
                            <fa name="calendar"></fa>
                        </button>
                        <img class="image" style="float:right;"
                             *ngIf="endDateModel == undefined"
                             [ngbTooltip]="errorMessagesConstants.PROJECT_POSITION_END_DATE"
                             src="assets/img/validationError.png"
                             height="20">
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
